@import "tailwindcss";

body{
  background: white;
  color: #5d5593;
}
.input-focused:focus {
  outline: none;
  border-color: #5D5594;
  box-shadow: 0 0 0 2px rgba(93, 85, 148, 0.5); /* Optional shadow for better focus visibility */
}

footer{
  position: sticky; 
}